main, footer {
    font-family: sans-serif;
}
section.one, section.two, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.one h3 {
    text-decoration: underline;
}
section.one p {
    border-bottom: 2px solid silver;
    padding: 15px;
}
img.flower {
    height: 200px;
    width: 300px;
    border: 5px solid silver;
    border-radius: 30px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}
section.two .btn {
    background: hsl(60, 100%, 50%);
    border: 3px solid #33cc33;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}
section.two .btn:hover {
    background: #33cc33;
    border: 3px solid hsl(60, 100%, 50%);
}
.collaborator {
    background: silver;
    padding: 20px;
}